<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhdevs.shieldx">

    <application
        android:allowBackup="true"
        android:label="ShieldX Mod"
        android:theme="@style/Theme.AppCompat.Light">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Advanced Adblocker and Device Spoofing by Rhdevs" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
